/* 전역 CSS 설정 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 색상 */
* {
  --black: #000;
  --white: #fff;
}

/* 다크 모드는 시스템 설정을 따라가도록 함 */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
